<div class="flex min-h-full flex-col items-start overflow-hidden bg-base-200 transition-[width] duration-300 ease-in-out is-drawer-close:w-0 is-drawer-open:w-72">
  <div class="w-full border-b border-base-300 p-4 ">
    <div class="mb-1 flex items-center gap-2 text-primary">
      <i class="pi pi-book text-lg" aria-hidden="true"></i>
      <h2 class="font-bold">Cuadernos</h2>
    </div>
    <p class="text-sm leading-relaxed text-base-content/60">
      Organiza tus ideas, notas y conocimientos en un solo lugar.
    </p>
  </div>

  <ul class="menu w-full grow gap-2 p-2">
    <li>
      <button
  pButton
  type="button"
  severity="primary"
  class="w-full justify-start gap-3"
>
  <i class="pi pi-plus text-lg"></i>
  <span>Crear cuaderno</span>
</button>
    </li>

    <li class="mt-3 is-drawer-close:hidden">
      <span class="menu-title px-3 text-xs uppercase tracking-wider text-base-content/50">Tu espacio</span>
    </li>
    <li class="w-full is-drawer-close:hidden">
         <app-side-menu-folders-accorditions [notebooksOptions]="NotebooksOptions()"/>
         

    </li>
  </ul>
</div>
